<body>

  <div class="background"></div>
  <div class="container">
    <div class="content">
      <h2 class="logo"><i class='bx bx-football' ></i> SOGEN</h2>
      <div class="text-sci">
        <h2>Welcome! <br><span>To our new web site.</span></h2>

        <p>Discovering inter-generational football: A link that unites enthusiasts, from one generation to the next. </p>
      </div>

      <div class="social-icons">
        <a href=""><i class='bx bxl-instagram-alt' ></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bxl-linkedin-square' ></i></a>
        <a href=""><i class='bx bxl-facebook-square' ></i></a>
      </div>

    </div>

    <div class="logreg-box">
      <div class="form-box login">
        <form action="#">
          <h2>Sign In</h2>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope' ></i></span>
            <input type="email" [(ngModel)]="loginDto.email" name="email" placeholder="Email" required>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
            <input type="password" [(ngModel)]="loginDto.password" name="password" placeholder="Password" required>
          </div>

          <div class="remember-forgot">
            <!-- <label><input type="checkbox">Remember me</label> -->
            <a href="#">Forgot password ?</a>
          </div>

          <button type="submit" class="btn" (click)="login(loginDto)">
            Sign In
          </button>

          <div class="login-register">
            <p>Don't have an account? <a href="" class="register-link" routerLink="/register">Sign up</a></p>
          </div>

        </form>
      </div>
    </div>

  </div>
</body>