<div id="background">
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <!-- Votre formulaire de connexion ici -->
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Nom d'utilisateur</label>
              <input type="text" class="form-control" id="username" placeholder="Entrez votre nom d'utilisateur">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
