<body>

    <div class="background"></div>
    <div class="container">
      <div class="content">
        <h2 class="logo"><i class='bx bx-football' ></i> SOGEN</h2>
        <div class="text-sci">
          <h3>Successful registration ! Welcome to our community!</h3>
        </div>

        <button type="button" [routerLink]="['/login']" >
            Sign in
        </button>
  
      </div>
  
      <div class="logreg-box">
        <div class="form-box login">
          <form action="#">
  
          </form>
        </div>
      </div>
  
    </div>
  </body>