#background {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/Img/5968949.png);
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  overflow: hidden;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

main {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
}

app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}

app-sidenav {
  position: absolute;
  top: 70px;
  left: 0rem;
  width: 60px;
  height: calc(100vh - 4rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 1px solid white;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  transition: width 250ms linear;
}

.display-area, article {
  position: relative;
  top: 3rem;
  left: 13%;
  width: 80%;
}

.app-side-nav-open {
  width: 250px;
}

.display-area {
  position: absolute;
  left: 60px;
  width: calc(100% - 180px);
  transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
  width: calc(100% - 180px);
  left: 250px;
}

// .navbar ul li::after {
//   content: "";
//   height: 3px;
//   width: 0;
//   background-color: #009688;
//   position: absolute;
//   left: 0;
//   bottom: -5px;
//   transition: 0.5s;
// }

// .navbar ul li:hover::after {
//   width: 100%;
// }

@media screen and (max-width: 900px) {
}
