@import url("https://fonts.googleapis.com/");
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/Img/5968949.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.navbar {
  width: 95%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.menu-hamburger {
  width: 30px;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .navbar .logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }
}
