<body>
  <header>
    <nav class="navbar">
      <a href="#" class="logo">SG</a>
      <div class="nav-links">
        <ul>
          <li><a href="#active">Home</a></li>
          <li><a href="#">Joueurs</a></li>
          <li><a href="#">Equipes</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <img
        src="../assets/Img/icons8-menu-50.png"
        alt="menu hamburger"
        class="menu-hamburger"
      />
    </nav>
  </header>
  <aside></aside>
  <table>
    <thead>
      <th>Nom</th>
      <th>Age</th>
      <th>Equipes</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
