<body>
  <div class="banner">
    <header>
      <nav class="navbar">
        <a href="#" class="logo">SG</a>
        <div class="nav-links">
          <ul>
            <li><a href="#active">Home</a></li>
            <li><a href="#">Joueurs</a></li>
            <li><a href="#">Equipes</a></li>
          </ul>
          <p><a class="sign-in" href="#">Connexion</a></p>
        </div>
        <img
          *ngIf="mobileQuery.matches"
          src="../assets/Img/icons8-menu-50.png"
          alt="menu hamburger"
          class="menu-hamburger"
        />
      </nav>
    </header>
    <main class="content">
      <aside class="aside"></aside>
      <article class="consultation">
        <table></table>
      </article>
    </main>
  </div>
</body>
