/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

